# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
**/service_account*.json
**/*credentials*.json
**/*secret*.json
**/*key*.json

# Local outputs
output/
tmp/
